%h2 Spelling in Chinese

%p
  In Mandarin Chinese, every written character corresponds to a single
  spoken syllable. However, the design of the character usually does
  not indicate how it should be spoken, so the pronunciation of each
  must be memorized. Luckily, spoken Chinese syllables are made up of
  just a few basic sounds (phonemes), so it is possible to spell out
  pronunciations with an alphabet. There several different alphabet
  alphabets used today for spelling Chinese words:

%ul
  %li
    zhùyīn is the alphabet used throughout schools in Taiwan. It is
    based on parts of Chinese characters and has a similar appearance
    to Japanese. The order of the letters (bo po mo fo...) corresponds
    to the way they are produced by the mouth.
  %li
    hànyǔ pīnyīn is the official spelling alphabet in China. It is
    used in all schools within the country and is the alphabet
    typically used by students of Chinese in Western countries. Most
    Chinese words and names that appear in English books and media are
    written in pīnyīn. The pīnyīn system uses Roman characters,
    specifically all the letters of the English keyboard except "v",
    with the addition of a "ü" (u-umlaut). Sometimes, "v" is written
    for "ü". The letters are ordered as in English.

%p
  In addition to the basic sounds, each Chinese syllable has one of
  five possible tones (shēng, which may be called: high (1), rising
  (2), low (3), falling (4), and toneless (5). These may be indicated
  with numbers (ba1 ba2 ba3 ba4 ba) or with marks over the syllables
  (bā bá bǎ bà ba). In pīnyīn, the fifth tone is usually not written,
  while in zhùyīn it is written with a dot and the first tone is
  omitted instead.

Learning Mandarin would be much easier if everything in books and on the web were written out with a spelling system, but this is not going to happen any time soon because of the aesthetic beauty and cultural significance of Chinese characters. So for now, students will have to study their characters. We hope that pin1yin1.com will make the learning process a little easier and let students with weak character skills read more than they would otherwise be able to!

%h2 Acknowledgments

%p
  This site makes use of the Unihan database, which is Copyright
  1996-2010 Unicode, Inc, as well as the CEDICT Chinese-English
  Dictionary, which is Copyright 2011 by MDBG and 1997-1998 by Paul
  Andrew Denisowski.

%h2 Privacy policy

%p
  This website or third-party services such as advertising networks,
  website statistics services, and blogging services may place and
  read personally identifiable tracking cookies on your web browser.
  These cookies may be used for settings such as the
  simplified/traditional selection, to log your browsing history, or
  for other purposes.  Information about your searches is available to
  the third parties, and we have no control over how they use it.  You
  can limit the availability of this information using cookie settings
  in your web browser.
