%h2 Pinyin, Zhuyin, and Mandarin Resources

%ul

  %li
    <a href="http://www.zhongwen.com/">Zhongwen.com</a> is a great
    interactive dictionary of characters.  The flexible organization of
    characters used on the site makes it incredibly easy to look up an
    unfamiliar character! (Uses traditional character images and pinyin.)

  %li
    <a href="http://www.popupchinese.com/">Popup Chinese</a> has a
    variety of free tools and Mandarin lesson recordings.  Subscribe
    for transcripts and other materials.

  %li
    <a href="http://www.pinyin.info/">Pinyin.info</a> has a lot of
    information about pinyin.

  %li
    <a href="http://www.chinese-tools.com/">Chinese tools</a> provides
    some other useful tools for working with Chinese characters.

  %li
    <a href="http://research.chtsai.org/papers/pinyin-xref.html">This
    cross-reference table</a> explains how to convert pinyin to zhuyin.

  %li
    The <a href="http://www.mandarintools.com/cedict.html">CEDICT</a>
    Chinese dictionary is used on this site to provide
    interactive definitions of words.

  %li
    The <a href="http://www.unicode.org/charts/unihan.html">Unihan
    Database</a> was used to create this website.  It is a very useful
    database of Mandarin, Cantonese, Japanese and Korean characters,
    linking the Unicode to BIG5 and GB2312 character sets, and giving the
    pin1yin1 pronunciations for every character.

  %li

    <a href="http://www.pinyinjoe.com/">Pinyin Joe</a> is a great
    reference for setting up your computer for Chinese and pinyin.

  %li
    <a href="http://www.memrise.com/">Memrise</a> is an impressive
    site for studying various languages including Mandarin.  The site
    generates flashcard-like tests on the fly, using your own study
    history to psychologically optimize the tests for fast learning.
