%div.googlead
  :plain
    <script type="text/javascript"><!--
    google_ad_client = "pub-2957831382585370";
    /* pinyin */
    google_ad_slot = "4526541600";
    google_ad_width = 125;
    google_ad_height = 125;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
